doctype html
html
  head
    title Video List
  body
    //- p #{videot}
    ul
      each v in video
        if videot == v.title
            h1 #{v.title}
            iframe(
                    width="560",
                    height="315",
                    src=`${v.url}`,
                    title="YouTube video player",
                    frameborder="0",
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share",
                    referrerpolicy="strict-origin-when-cross-origin",
                    allowfullscreen
                    )
